<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--purecss.io base stylesheet-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--purecss.io grid stylesheet-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>{% block title %}{% endblock %} - ChatrBox</title>
    {% endblock %}
</head>
<body class="pure-g">
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    &copy; Copyright 2016 by Adriana Rios.
    {% endblock %}
</div>
</body>
</html>