{% extends "base.html" %}
{% block title %}{{ room.topic }}{% endblock %}
{% block content %}
<h1>{{ room.topic }}</h1>
  <div class="chat pure-u-1-3">
  <ul id="messages"></ul> {# where messages go! #}
    {# and a form to send them #}
  <form class="pure-form chat-input" action="" id="chat">
      <label for="m">Message:</label>
      <input type="text" id="m" name="m" autocomplete="off">
      <button class="pure-button pure-button-primary">Send</button>
  </form>
  </div>

  {# import socket.io client library #}
  <script src="https://cdn.jsdelivr.net/socket.io-client/1.3.2/socket.io.min.js"></script>
  {# import our JavaScript #}
  <script src="{{ url_for('static', filename='chat.js') }}" async></script>
{% endblock %}